.h1 {
    color: blue;
}
.high-score {
    font-size: larger;
}

.question {
    font-size: 25px;
}

.over {
    font-size: 50px;
    
}
.count {
    padding-top: 30px;
}

.timer-count {
    font-size: 25px;
}